.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
}

.username {
  width: 20rem;
}

.password {
  width: 20rem;
}

#button {
  width: 7rem;
}

.error {
  color: red;
}
